<section class="ibk-header">
  <nav class="ibk-navbar navbar navbar-expand navbar-dark">
    <a href="#" class="ibk-navbar__brand navbar-brand">Crud Usuarios IBK</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Usuarios</a>
      </li>
    </div>
  </nav>

  <main class="container mt-3">
    <router-outlet></router-outlet>
  </main>

  <footer class="ibk-footer">
    <a
      class="ibk-footer-banner"
      href="https://interbank.pe/solicitar/cuenta/simple/inicio?pcid=home:menu:solicitar-cuenta-simple:boton-version-mobile"
      ><img
        class="ibk-footer-banner__image"
        src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/96/9666ddf1-e675-4a26-b0cf-273234efbfea/cuenta-simple-image.png"
        alt="Interbank"
      />
      <h4 class="ibk-footer-banner__title">
        ¿Aún no eres cliente? Abre tu cuenta aquí
      </h4>
    </a>
  </footer>
</section>
